<div class='node-member'>
	{{#if (Array.isArray(member))}}
		<NodeList
			nodes='{{member}}'
			depth='{{depth + 1}}'
			trailingComma='{{trailingComma}}'
			highlightedId='{{highlightedId}}'
		/>
	{{elseif (this && typeof member === 'object')}}
		<Node
			node='{{member}}'
			trailingComma='{{trailingComma}}'
			depth='{{depth + 1}}'
			block='false'
			highlightedId='{{highlightedId}}'
		/>
	{{else}}
		<span class='value'>{{member}}{{#if trailingComma}},{{/if}}</span>
	{{/if}}
</div>

<style>
	.node-member {
		display: inline;
	}
</style>