<div class='node {{#if block}}block{{/if}} {{#if highlighted}}highlighted{{/if}}'>
	{ <button on-click='toggle("expanded")'>{{expanded ? '-' : '+'}}</button>
		{{#if expanded}}
			<ul>
				{{#each keys :i }}
					<li>
						{{this}}:
						<Member
							member='{{node[this]}}'
							trailingComma='{{i < keys.length - 1}}'
							depth='{{depth}}'
							highlightedId='{{highlightedId}}'
						/>
					</li>
				{{/each}}
			</ul>
		{{/if}}
	}{{#if trailingComma}},{{/if}}
</div>

<style>
	.node {
		display: inline;
	}

	.node-block {
		display: block;
	}

	.highlighted {
		background-color: #eee;
		font-weight: bold;
	}

	ul {
		padding: 0 0 0 1em;
		margin: 0;
		list-style: none;
	}
</style>

<script>
	component.exports = {
		data: {
			expanded: false,
			highlighted: false
		},

		computed: {
			keys () {
				const node = this.get( 'node' );
				return Object.keys( node ); // TODO sort
			}
		},

		oninit () {
			this.id = this.get( 'node._id' );
			this.set( 'expanded', this.get( 'depth' ) <= 2 );

			this.observe( 'highlightedId', ( n, o ) => {

				this.set( 'highlighted', n === this.id ); // TODO why doesn't this work in the template?
			});
		}
	};
</script>