[ <button on-click='toggle("expanded")'>{{expanded ? '-' : '+'}}</button>
	{{#if expanded}}
		<ul>
			{{#each nodes :i}}
				<li>
					<Node
						node='{{this}}'
						trailingComma='{{i < nodes.length - 1}}'
						depth='{{depth}}'
						block='true'
						highlightedId='{{highlightedId}}'
					/>
				</li>
			{{/each}}
		</ul>
	{{/if}}
]{{#if trailingComma}},{{/if}}

<script>
	component.exports = {
		data: {
			expanded: false
		},

		oninit () {
			this.set( 'expanded', this.get( 'depth' ) <= 2 );
		}
	};
</script>